<h1>Broken Links.</h1>
<p> Your resource: <%= @url %> </p>
<% if @broken_links.empty? %>
  <p> No broken links found. </p>
<% else %>
  <ul>
    <% @broken_links.each do |link| %>
      <li> <%= link.url.to_s %> </li>
    <% end %>
  </ul>
<% end %>
